html,
body {
  /* overflow-x: hidden; //Prevent scroll on narrow devices */

  /* font-size: small;
  line-height: 1; */
}

a {
  color : #212529;
}

a:hover {
  color : gainsboro;
  text-decoration: none;
}

input:invalid+div:after {
  /* position: absolute;  */
  content: '✖';
  padding-left: 5px;
  color: #8b0000;
}

#color {

  height: 38px;
}

/* .page-footer {

  height: 30%;
  background: #6c757d;
  background: linear-gradient(0deg, #6c757d 10%, rgba(0,212,255,0) 100%);
}

.page-header {

  height: 100px;
  background: #6c757d;
  background: linear-gradient(180deg, #6c757d 30%, rgba(0,212,255,0) 100%);
} */

#login-button {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}

#logged-button a {
  display: inline;
}


#logged-button {
  
}

#logged-button img {
  display: inline;
  width: 30px;
  height: 30px;
}

#logged-button p {
  display: inline;
  color: rgba(255, 255, 255, 0.5);
}



























#wanted {

  display: none;
}

.card {

  /* width: 500px; */
}

.card img {

  width: 250px;
}